body {
    background-image: url('public/images/pexels-goumbik-349610.jpg');
    background-size: cover; 
    background-repeat: no-repeat; 
    background-position: center; 
    height: 100vh; 
    margin: 0;
  }
